@using WebDaQuy.Models
@model WebDaQuy.Models.LoaiSP
@{
    List<LoaiSP> list = ViewData["DsLoai"] as List<LoaiSP>;
    ViewBag.Title = "Index";
    Layout = "~/Areas/PrivatePlace/Views/Shared/_Layout.cshtml";
}
<style>
    form {
        display: inline;
    }
</style>

<div class="content-wrapper">
    @*@using (Html.BeginForm("Index", "ChungVaLoaiSP", FormMethod.Post)*@
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">

                <div class="col-sm-6">
                    <h1>Sản phẩm đang kinh doanh trong hệ thống</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Danh mục sản phẩm</a></li>
                        <li class="breadcrumb-item active">Danh sách sản phẩm</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-7">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Chủng loại và Ngành hàng</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Mã loại</th>
                                        <th>Tên loại hàng</th>
                                        <th>Số sản phẩm</th>
                                        <th>Nhóm lệnh</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (LoaiSP i in list)
                                    {
                                        <tr>
                                            <td>@i.maLoai</td>
                                            <td>@i.tenLoai</td>
                                            <td>@i.SanPhams.Where(x => x.maLoai == i.maLoai).Count()</td>
                                            <td>
                                                @using (Html.BeginForm("Delete", "ChungVaLoaiSP", FormMethod.Post))
                                                {
                                                    <input type="hidden" name="ml" value="@i.maLoai" />
                                                    <button class="btn btn-danger" title="Xóa loại hàng">Delete</button>
                                                }
                                                @using (Html.BeginForm("Update", "ChungVaLoaiSP", FormMethod.Post))
                                                {
                                                    <input type="hidden" name="mlcs" value="@i.maLoai" />
                                                    <button class="btn btn-success" title="chỉnh sửa ">Update</button>
                                                }
                                            </td>
                                        </tr>

                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
                <div class="col-5">
                    @using (Html.BeginForm("Index", "ChungVaLoaiSP", FormMethod.Post))
                    {
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Thêm Loại sản phẩm mới</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <label>Tên Loại sản phẩm</label>
                                        @Html.TextBoxFor(m => m.tenLoai, new { @class = "form-control", @placeholder = "Name of Category" })
                                    </div>
                                    <div class="col-12">
                                        <label for="Posts content">Diễn giải(ghi chú)</label>
                                        @Html.TextAreaFor(m => m.ghiChu, new { @class = "form-control", @placeholder = "Text area", @rows = "14" })
                                    </div>
                                    <div class="col-12" style="top:10px">
                                        <button type="submit" class="btn btn-primary">Lưu thông tin</button>
                                    </div>
                                </div>
                            </div>
                            @Html.HiddenFor(e => e.maLoai)
                            <!-- /.card-body -->
                        </div>

                    }

                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
